body {
    display: flex;
    flex-direction: column;
    margin: 0px 145px;
    
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

/*all sections*/
.logo-and-navbar, .section-1, .section-2, .section-3, .section-4, .section-5, footer {
    max-width: 1126px;
    width: 100%;
}


.logo-and-navbar { /*parent container*/
    height: 78px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo-and-logoname {
    max-width: 195px;
    width: 100%;
    height: 31px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-right: 250px;
}

.nav-links {
    max-width: 340px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #2F281E;
    font-size: 14px;
    line-height: 28px;
    
}

.product, .Customers, .Pricng, .Resources {
    text-decoration: none;
    color: #2F281E;
    font-weight: 300; /*funakr inte igen... why?*/
}

.nav-buttons {
    display: flex;
    max-width: 226px;
    width: 100%; 
    justify-content: space-between;
    font-size: 16px;
    font-weight: 300; /*varför kan jag inte ändra?*/
}
.sign-in-btn {
    width: 102px;
    height: 46px;
    border-width: 1px;
    border-color: #BCD0E5;
    border-radius: 5px;
    background-color: white;
    /*need to remove the border shadow*/
}
.sign-up-btn {
    width: 110px;
    height: 46px;
    border-radius: 5px;
    background-color: #FF9900;
    border: none;
}


.logo {
    height: 31px;
    width: 31px;
    margin-bottom: 5px;
}




/* .logo .logo-name .product .Customers .Pricng .Resources .sign-in-btn .sign-up-btn { */
    /* display: flex; */
    /* align-items: flex-start; */
    /* justify-content: space-between;  */


/* .logo {
    display: flex;

} */






.section-1 {
    background-color: pink;
    height: 496px;
    margin-top: 30px;
    margin-bottom: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec-1-text-and-buttons {
    width: 518px;
    height: 331px;
}

.sec-1-img {
    width: 605px;
    height: 496px;
}




.section-2 { /*de tre delarna*/
    background-color: coral;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 543px;
    margin-bottom: 120px;
}

.sec-2-container { /*de fyra boxarna*/
    max-width: 1126px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card-1, .card-2, .card-3, .card-4 { /*design for boxes*/
    max-width: 240px;
    width: 100%;
    height: 178px;
}

.sec-2-container img {
    width: 51px;
    height: 50px;
}




.section-3 {
    background-color: cornflowerblue;
    height: 574px;
    margin-bottom: 101px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sec-3-text {
    width: 486px;
    height: 531px;
}

.sec-3-img {
    width: 520px;
    height: 574px;
}



/*SECTION 4 - man with computer*/

.section-4 {
    background-color: bisque;
    height: 521px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image-sec-4 {
    width: 531px;
    height: 521px;
}

.text-sec-4 {
    width: 486px;
    height: 427px;
    background-color: aqua;
}

.tick-list {
    background-color: rgb(121, 92, 56);
    min-height: 216px;
    max-width: 486px; /*52+30+35*/
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 30px;
}

.tick-icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: seagreen;
    margin-bottom: 30px;
}



/* .tick p {
    color: white;
} */






 



.section-5 {
    background-color: darkkhaki;
    height: 609px;
    display: flex;
    align-items: center;
    margin-top: 104px;
    margin-bottom: 156px;
}

.text-sec-5 {
    max-width: 486px;
    height: 609px;
    display: flex;
    background-color:salmon;
    flex-direction: column;
    justify-content: space-between;
}

.img-sec-5 {
    max-width: 542px;
    min-height: 609px;
}



footer {
    background-color: burlywood;
    max-width: 1109px; /*skiljer sig lite från de andra*/
    width: 100%;
    height: 308px;
    margin-bottom: 83px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer-logo {
    margin-bottom: 173px;
}

.footer-quick-links {
    width: 118px;
    height: 205px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.footer-legal-stuff {
    width: 132px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.footer-sign-up {
    width: 325px;
    height: 199px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

#write-your-phonenumber {
    max-width: 325px;
    height: 48px;
    background-color: gray;
    padding: none;
    border: 1px;
    border-color: gray;
    border-radius: 5px;
}




    


